<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue basic</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
<div class="container pt-5" id="app">
    <div class="card">
        <h1 :style="{
        color: inputValue.length>5 ? 'red' : 'green',
        fontSize: inputValue.length>5 ? '3rem' : '2.2rem'
        }">{{ title }}</h1>
        <div class="form-control">
            <input type="text"
                   :placeholder="placeholderStr"
                   v-model="inputValue"
                   @keydown.enter="addNewNote"
            >
        </div>
        <h2>Input value: {{ inputValue }}</h2>
        <button class="btn" @click="addNewNote">Додати</button>
        <hr/>
        <ul class="list" v-if="notes.length">
            <li class="list-item" v-for="(note, index) in notes">
                <!--                <span :class="note.length > 5 ? 'danger' : 'primary'">-->
                <!--                    {{ index + 1 }}: {{ toUpperCase(note) }}-->
                <!--                </span>-->
                <!--                <span :class="{-->
                <!--                    'primary': true,-->
                <!--                    'bold': note.length > 5-->
                <!--                }">
                </span>-->
                <span :class="['primary', {'bold': note.length > 5 }]">
                    {{ index + 1 }}: {{ toUpperCase(note) }}
                </span>
                <button class="btn danger" @click="removeNote(index, $event)">Видалити</button>
            </li>
            <hr/>
            <li>Загальна кількість: {{ notes.length }} | {{ doubleCountComputed }}</li>
        </ul>
        <div v-else>Нотатків нема else</div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>